.container
  .row
    .col-xs-10
      %h1 Hallo #{current_user.name}, es gibt #{collection.count} Ideen
    .col-xs-2.margin-top
    = link_to "Neue Idee", new_idea_path, :class => "btn btn-success"

.container.cat
  %ul
    - collection.each do |idea|
      .panel
        .panel-heading
          %h1.panel-title.fa.fa-heart= link_to "  #{idea.title}", idea_path(idea)
        .panel-body
          .row
            .col-xs-3
              %h3 Beschreibung
              = idea.description
            .col-xs-2
              %h3 Location
              = idea.location
            .col-xs-3
              %h3 Kategorie
              = image_tag(idea.category.image)
              = idea.category.try(:title)
            .col-xs-2
              %h3 Von
              -if idea.user.try(:name)
                - if idea.user.try(:name).upcase == "NINA" && idea.user
                  .crazy-name
                    = idea.user.try(:name).upcase if idea.user
                - else
                  .crazy-name2
                    = idea.user.try(:name).upcase if idea.user
            .col-xs-2
              %h3 Status
              - if idea.label.try(:name) == "offen"
                .btn.btn-danger
                  = idea.label.try(:name)
              - if idea.label.try(:name) == "nochmal"
                .btn.btn-warning
                  = idea.label.try(:name)
              - if idea.label.try(:name) == "erledigt"
                .btn.btn-success
                  = idea.label.try(:name)
          = link_to "Idee bearbeiten", edit_idea_path(idea), :class => "btn btn-warning"