.container
  .row
    .col-xs-10
      %h1.indented Hallo #{current_user.name}, es gibt bereits #{collection.count} Ideen
    .col-xs-2.margin-top.pull-left
    = link_to "Neue Idee", new_idea_path, :class => "btn btn-success"
.container
  .row.indented
    .col-xs-10
    - if current_user.try(:name).upcase == "FAB" && current_user
      %h3
      Hallo Fabi diese Seite soll ein Geburtstagsgeschenk sein. Natürlich war ich nicht untätig, sondern habe ganz fleißig Ruby geübt. Hier können wir nun all unsere Ideen verwalten. Die Hauptansichten sind alle vorhanden. Ich arbeite momentan an der Sortierfunktion, sodass dann nur noch alle offenen oder erledigten Ideen angezeigt werden können. Außerdem kannst du natürlich ab sofort auch eigene Ideen bezüglich der User Experience einbringen :-*
      %hr
    - else
      %h3
      Hallo Nina
      %hr
.container
  .row
    .col-xs-3.indented
      Sortieren nach:
    .col-xs-2.indented
      = select_tag :letter, options_for_select(('A'..'Z').to_a << "Sonstige", params[:letter]), 'data-action' => "autosubmit", prompt: "ABC-Suche"
    .col-xs-2.indented
      = select_tag :category_id, options_from_collection_for_select(Category.order('title'), :id, :title, params[:category_id]), prompt: "Kategorie", 'data-action' => "autosubmit"
    .col-xs-2.indented
      = select_tag :label_name, options_for_select([["offen", "Offen"], ["nochmal", "Nochmal"], ["erledigt", "Erledigt"]], params[:label_name]), prompt: "Label"

.container.cat
  %ul
    - collection.each do |idea|
      .panel
        .panel-heading
          %h1.panel-title.fa.fa-heart= link_to "  #{idea.title}", idea_path(idea)
        .panel-body
          .row
            .col-xs-3
              %h3 Beschreibung
              = idea.description
            .col-xs-2
              %h3 Location
              = idea.location
            .col-xs-3
              %h3 Kategorie
              %li
                = image_tag(idea.category.image)
              %li
                %h4
                  = idea.category.try(:title)
            .col-xs-2
              %h3 Von
              -if idea.user.try(:name)
                - if idea.user.try(:name).upcase == "NINA" && idea.user
                  .crazy-name
                    = idea.user.try(:name).upcase if idea.user
                - else
                  .crazy-name2
                    = idea.user.try(:name).upcase if idea.user
            .col-xs-2
              %h3 Status
              - if idea.label.try(:name) == "offen"
                .btn.btn-danger
                  = idea.label.try(:name)
              - if idea.label.try(:name) == "nochmal"
                .btn.btn-warning
                  = idea.label.try(:name)
              - if idea.label.try(:name) == "erledigt"
                .btn.btn-success
                  = idea.label.try(:name)
          = link_to "Idee bearbeiten", edit_idea_path(idea), :class => "btn btn-warning"

:javascript
  $(document).ready(function() {
    $('#p-companies-form select').each(function() {
      $(this).change(function() {
        if(this.id === 'letter') { $('#query').val(""); }
        $('#companies-overview-search').click();
      });
    });

    $('#companies-overview-search').click(function() {
      // If query string is supplied (and not its default placeholder value)
      // and the letter select has a value set, blank the query string.
      if($('#query').val() != "" && $('#query').val() != $('#query').attr('placeholder') && $('#letter').val() != "") {
        $('#letter').val("");
      }
    });

  });