%li
  = link_to "About", about_path
%li
  = link_to "Sitemap", sitemap_path
%li
  = link_to "Startseite", root_path
%li
  = link_to "Benutzer", root_path
%li
  = link_to "Settings", root_path
%li
  = link_to "Your Account", root_path