!!!
%html
  %head
    %title Infinite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} INFINITE
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"}
                Home
                %span.sr-only (current)
            %li
              = link_to t('About'), about_path

            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Benutzer
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} #{current_user.try(:name)}

                %li.divider
                %li
                  %a{:href => "#"} Separated link
                %li.divider
                %li
                  %a{:href => "#"} One more separated link
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to t('Contact'), new_contact_path
            %li
              = link_to t('Sitemap'), sitemap_path
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.name
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} Settings
                %li
                  %a{:href => "#"} Your account
                %li.divider
                %li
                  = link_to 'Log out', destroy_user_session_path, method: :delete
        / /.navbar-collapse
      / /.container-fluid

    = yield
    = flash[:notice] || flash[:message]
    .container
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"}
              &times;
            = content_tag :div, msg, :id => "flash_#{name}"
    %footer
      .navbar.navbar-inverse.navbar-fixed-bottom
        .container
          %p.navbar-text.pull-left Site Built By Nina
          %a.navbar-btn.btn-danger.btn.pull-right{:href => "/"} Checke meinen Blog aus


